body {
    font-family: sans-serif;
    margin: 0;
    background-color: #fdfbf9;
}


.container {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.container2 {
    margin: 40px;
    background-color: darkseagreen;
    padding: 20px;
    color: white;

}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    padding:18px;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #bcf4fb;
    color: #333;
    padding:18px;
    
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -90px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 12px; /* 12px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
 /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}


#home {
  top: 400px;
  background-color: #fce75d; /* yellow */
  color: black;
}

#contact {
  top: 450px;
  background-color: #555; /* Light Black */
  color: white;
      
}


/* The about link: 450px from the top with a blue background */
#about {
  top: 500px;
  background-color: #bcf4fb;
  color:black;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 500px;
    margin: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container3 {
    padding: 30px 16px;
}

 .card {
        box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 36px; /* 5px rounded corners */
}
/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 36px 36px 0 0;
}

.inputbox{
    margin-top:12px;
    margin-bottom:10px;
    float:right;
    padding: 6px 22px;
    border-radius:12px;
}
.mybutton{
    background:#bcf4fb;
    float: right;
    margin:auto;
    padding: 6 22px;
    color: #333;
    margin-top:12.5px;
    margin-bottom:10px;
    border-radius:12px;
}

.datebutton{
    margin-left:540px;   
}

.datebutton2{
    text-align:center;
}
/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
.charging{
  float:right;
  color:white;
  width:60px;
  margin-top:8px; 
  font-size:36px;
}
.div1{
    float:right;
    color:white;
    width:50px;
    margin-top:8px; 
    font-size:36px; 
}
{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 100px;
  width: 80px;
    margin:auto;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  margin:auto;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.property{
    background-color: #f2f2f2;
    color:black;
    border-radius: 16px;
    margin-left:260px;
    margin-right:260px;
}
